<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818023292371-m7l1dhqqlkhu1329fd8bdnm8bog0qdl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818023292371-m7l1dhqqlkhu1329fd8bdnm8bog0qdl8</string>
	<key>API_KEY</key>
	<string>AIzaSyA47N4rOLoy30vfw-XnIuax2v5wkxPaE5g</string>
	<key>GCM_SENDER_ID</key>
	<string>818023292371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FitOdyssey</string>
	<key>PROJECT_ID</key>
	<string>fitodyssey-1f59b</string>
	<key>STORAGE_BUCKET</key>
	<string>fitodyssey-1f59b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818023292371:ios:78454091cba36034576326</string>
</dict>
</plist>